USE [crm sales]
GO
/****** Object:  Table [dbo].[accounts]    Script Date: 2025-07-11 3:38:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accounts](
	[account] [nvarchar](50) NOT NULL,
	[sector] [nvarchar](50) NOT NULL,
	[year_established] [smallint] NOT NULL,
	[revenue] [float] NOT NULL,
	[employees] [int] NOT NULL,
	[office_location] [nvarchar](50) NOT NULL,
	[subsidiary_of] [nvarchar](50) NULL,
 CONSTRAINT [PK_accounts] PRIMARY KEY CLUSTERED 
(
	[account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 2025-07-11 3:38:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[product] [nvarchar](50) NOT NULL,
	[series] [nvarchar](50) NOT NULL,
	[sales_price] [smallint] NOT NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sales_pipeline]    Script Date: 2025-07-11 3:38:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sales_pipeline](
	[opportunity_id] [nvarchar](50) NOT NULL,
	[sales_agent] [nvarchar](50) NULL,
	[product] [nvarchar](50) NULL,
	[account] [nvarchar](50) NULL,
	[deal_stage] [nvarchar](50) NULL,
	[engage_date] [date] NULL,
	[close_date] [date] NULL,
	[close_value] [smallint] NULL,
 CONSTRAINT [PK_sales_pipeline] PRIMARY KEY CLUSTERED 
(
	[opportunity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sales_teams]    Script Date: 2025-07-11 3:38:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sales_teams](
	[sales_agent] [nvarchar](50) NOT NULL,
	[manager] [nvarchar](50) NOT NULL,
	[regional_office] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_sales_teams] PRIMARY KEY CLUSTERED 
(
	[sales_agent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
